In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('GRAIN---Land-grab-deals---Jan-2012.csv', sep=';', decimal=',')

In [1]:
# quickly check form and dtypes
df.info()

NameError: name 'df_titanic' is not defined

In [3]:
df.isna().sum()

Landgrabbed               0
Landgrabber               0
Base                      0
Sector                   10
Hectares                  2
Production               34
Projected investment    310
Status of deal            0
Summary                   0
dtype: int64

In [4]:
# and check the first lines of data to have a first glance
df.head()

,Landgrabbed,Landgrabber,Base,Sector,Hectares,Production,Projected investment,Status of deal,Summary
0,Algeria,Al Qudra,UAE,"Finance, real estate",31000.0,"Milk, olive oil, potatoes",NaN,Done,Al Qudra Holding is a joint-stock company esta...
1,Angola,CAMC Engineering Co. Ltd,China,Construction,1500.0,Rice,US$77 million,Done,CAMCE is a subsidiary of the China National Ma...
2,Angola,ENI,Italy,Energy,12000.0,Oil palm,NaN,In process,The project is a joint venture between Sonango...
3,Angola,AfriAgro,Portugal,"Finance, real estate",5000.0,Oil palm,US$30-35 million,Done,AfriAgro is a subsidiary of the Portugal-based...
4,Angola,Eurico Ferreira,Portugal,"Energy, telecommunications\n",30000.0,Sugar cane,US$200 million,Done,"In 2008, Portuguese conglomerate Eurico Ferrei..."

In [5]:
# describe() gives a more statistical description. 
df.describe()

,Landgrabbed,Landgrabber,Base,Sector,Hectares,Production,Projected investment,Status of deal,Summary
count,416,416,416,406,414,382,106,416,416
unique,71,308,63,27,220,182,89,10,401
top,Mozambique,Foras International Investment Co,US,Agribusiness,10000.0,Oil palm,US$250 million,Done,Germanagrar is a German company based in Hambu...
freq,24,6,40,199,32,40,3,324,4

In [6]:
# we see e.g. that Mozambique is listed in the 'top' row. What does this mean?
# Apparently it is the country that has the most occurences in this column
df.Landgrabbed.value_counts()

Mozambique    24
Australia     22
Brazil        22
Ethiopia      21
Russia        19
              ..
China          1
Burma          1
Brazil         1
Argentina      1
Zimbabawe      1
Name: Landgrabbed, Length: 71, dtype: int64

In [7]:
# Look at the Sector column, you can see (sometimes) multiple values, separated by comma's
df['Sector'].head(50)

0             Finance, real estate
1                     Construction
2                           Energy
3             Finance, real estate
4     Energy, telecommunications\n
5             Agribusiness, energy
6                     Agribusiness
7                     Agribusiness
8                     Agribusiness
9                          Finance
10                    Agribusiness
11                         Finance
12                         Finance
13                         Finance
14                         Finance
15                      Industrial
16                    Agribusiness
17                    Agribusiness
18                    Agribusiness
19                      Government
20                    Agribusiness
21                    Agribusiness
22                    Agribusiness
23                         Finance
24                         Finance
25                    Agribusiness
26                             NaN
27       Industrial, real estate\n
28                    Construction
29                    Agribusiness
30                         Finance
31                         Finance
32                         Finance
33                    Agribusiness
34                    Agribusiness
35                      Industrial
36                         Finance
37                    Agribusiness
38                         Finance
39                         Finance
40                         Finance
41                         Finance
42                         Finance
43                         Finance
44                             NaN
45    Agribusiness, construction\n
46                         Finance
47                             NaN
48                          Energy
49                    Agribusiness
Name: Sector, dtype: object

In [8]:
# let's try to split those values (first in a separate data frame)
subset = df['Sector'].str.split(',', expand = True)
subset.head(10)

              0                      1     2
0       Finance            real estate  None
1  Construction                   None  None
2        Energy                   None  None
3       Finance            real estate  None
4        Energy   telecommunications\n  None
5  Agribusiness                 energy  None
6  Agribusiness                   None  None
7  Agribusiness                   None  None
8  Agribusiness                   None  None
9       Finance                   None  None

In [9]:
# we can also include the newly split columns in the dataframe itself
df[['sector1', 'sector2', 'sector3']] = df['Sector'].str.split(',', expand = True)
# and delete the original column to clean the set (and prevent duplicate values)
df.drop('Sector', axis='columns', inplace=True)
df.head()

,Landgrabbed,Landgrabber,Base,Hectares,Production,Projected investment,Status of deal,Summary,sector1,sector2,sector3
0,Algeria,Al Qudra,UAE,31000.0,"Milk, olive oil, potatoes",NaN,Done,Al Qudra Holding is a joint-stock company esta...,Finance,real estate,None
1,Angola,CAMC Engineering Co. Ltd,China,1500.0,Rice,US$77 million,Done,CAMCE is a subsidiary of the China National Ma...,Construction,None,None
2,Angola,ENI,Italy,12000.0,Oil palm,NaN,In process,The project is a joint venture between Sonango...,Energy,None,None
3,Angola,AfriAgro,Portugal,5000.0,Oil palm,US$30-35 million,Done,AfriAgro is a subsidiary of the Portugal-based...,Finance,real estate,None
4,Angola,Eurico Ferreira,Portugal,30000.0,Sugar cane,US$200 million,Done,"In 2008, Portuguese conglomerate Eurico Ferrei...",Energy,telecommunications\n,None

In [10]:
# By checking the unique values we actually find duplicated values in 'Status of deal'
df['Status of deal'].unique()

array(['Done', 'Done ', 'In process', 'Done (50-yr lease)', 'Suspended',
       'Proposed', 'MoU signed (2009)', 'Done\n', 'Suspended  ',
       'Suspended (October 2011)'], dtype=object)

In [11]:
# among the string functions is strip() to remove all white spaces (and other 'invisible characters' )
df['Status of deal'] = df['Status of deal'].str.strip()
df['Status of deal'].unique()

array(['Done', 'In process', 'Done (50-yr lease)', 'Suspended',
       'Proposed', 'MoU signed (2009)', 'Suspended (October 2011)'],
      dtype=object)

In [12]:
# check for duplicate values
df.duplicated().value_counts()

False    416
dtype: int64

In [13]:
# try to 'fix' US$77 million in the Projected Investment column
# to be continued...
df['Projected investment'] = df['Projected investment'].str.strip()
df['Projected investment'].unique()

array([nan, 'US$77 million', 'US$30-35 million', 'US$200 million',
       'US$1,500 million', 'US$83 million', 'US$40 million',
       'US$415 million', 'US$6.4 million', 'US$27 million',
       'US$79 million', 'US$400 million', 'US$1,876 million',
       'US$21 million', 'US$336 million', 'US$136 million',
       'US$456 million', 'US$375 million', 'US$16.7 million',
       'US$5 million', 'US$879 million', 'US$569 million',
       'US$80 million', 'US$1,240 million', 'US$73 million',
       'US$43 million', 'US$600 million', 'US$23 million',
       'US$120 million', 'US$18,400 million', 'US$6.2 million',
       'US$300 million', 'US$7 million', 'US$55 million',
       'US$350 million', 'US$100 million', 'US$8/ha/yr (lease)',
       'US$4/ha/yr (lease)',
       'US$1.2/ha/yr (after first 7 years) in Gambela and US$8/ha/yr (after first 6 years) in Bako',
       'US$4 million (lease cost for 25,000 ha)', 'US$10 million',
       'US$18 million', 'US$2,500 million', 'US$250 million',
       'US$328 million', 'US$2 billion', 'US$50 million',
       'US$166 million', 'US$64 million', 'US$30 million',
       'US$3.1 billion', 'US$1.6 billion', 'US$41 million',
       'US$320 million', 'US$33 million', 'US$35 million',
       'US$7.7 million', 'US$20 million', 'US$42 million',
       'US$111 million', 'US$53.2 million', 'US$4.8 million',
       'US$16.3 million', 'US$15 million', 'US$34.1 million',
       'US$57,600 (US$0.80/ha)', 'US$254 million',
       'US$205 million (half of fund)', 'US$39 million', 'US$75 million',
       'US$6.5 million', 'US$204 million', 'US$1.3 billion',
       'US$65 million', 'US$788 million', 'US$125,000/yr (land lease)',
       'US$160 million', 'US$45.3 million', 'US$5.49 million',
       'US$500 million', 'US$12.5 million', 'US$251 million',
       'US$85 million'], dtype=object)

In [14]:
import re
import fnmatch


df['Projected investment'] = df['Projected investment'].str.replace('US$',"", regex=False)
df['Projected investment'] = df['Projected investment'].str.replace("30-35","33", regex=False)
df['Projected investment'] = df['Projected investment'].str.replace(' (lease)',"", regex=False)

### We remove the words like US dollar , the (lease) and the not certain value of 30-35

In [15]:
def convert(x):
    x = str(x)
    x = x.replace(",","")
    if "million" in x:
        head, sep, tail = x.partition('million')
        return float(head)*1000000
    elif "billion" in x:
        head, sep, tail = x.partition('billion')
        return float(head)*1000000000
    else:
        return x
    
df = df.rename(columns={'Projected investment': 'Projected_Investment'})

df.Projected_Investment = df.Projected_Investment.apply(convert)

df['Projected_Investment'].unique()

array(['nan', 77000000.0, 33000000.0, 200000000.0, 1500000000.0,
       83000000.0, 40000000.0, 415000000.0, 6400000.0, 27000000.0,
       79000000.0, 400000000.0, 1876000000.0, 21000000.0, 336000000.0,
       136000000.0, 456000000.0, 375000000.0, 16700000.0, 5000000.0,
       879000000.0, 569000000.0, 80000000.0, 1240000000.0, 73000000.0,
       43000000.0, 600000000.0, 23000000.0, 120000000.0, 18400000000.0,
       6200000.0, 300000000.0, 7000000.0, 55000000.0, 350000000.0,
       100000000.0, '8/ha/yr', '4/ha/yr',
       '1.2/ha/yr (after first 7 years) in Gambela and 8/ha/yr (after first 6 years) in Bako',
       4000000.0, 10000000.0, 18000000.0, 2500000000.0, 250000000.0,
       328000000.0, 2000000000.0, 50000000.0, 166000000.0, 64000000.0,
       30000000.0, 3100000000.0, 1600000000.0, 41000000.0, 320000000.0,
       35000000.0, 7700000.0, 20000000.0, 42000000.0, 111000000.0,
       53200000.0, 4800000.0, 16300000.0, 15000000.0, 34100000.0,
       '57600 (0.80/ha)', 254000000.0, 205000000.0, 39000000.0,
       75000000.0, 6500000.0, 204000000.0, 1300000000.0, 65000000.0,
       788000000.0, '125000/yr (land lease)', 160000000.0, 45300000.0,
       5490000.0, 500000000.0, 12500000.0, 251000000.0, 85000000.0],
      dtype=object)

### We have "fixed" the US 77 million problem but other more compplicated problems like 8/ha/yr.(lease) can either drop from the data or figure out another possible replacement.